<!-- login_select.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Select Platform</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="{{ platform }}">
    <h2>Please Choose a platform</h2>
    <div class="platforms">
        <a href="/loading/twitter"><img src="/static/logos/twitter.png" alt="Twitter"></a>
        <a href="/loading/instagram"><img src="/static/logos/instagram.png" alt="Instagram"></a>
        <a href="/loading/linkedin"><img src="/static/logos/linkedin.png" alt="LinkedIn"></a>
        <a href="/loading/facebook"><img src="/static/logos/facebook.png" alt="Facebook"></a>
        <a href="/loading/tiktok"><img src="/static/logos/tiktok.png" alt="TikTok"></a>
        <a href="/loading/snapchat"><img src="/static/logos/snapchat.png" alt="Snapchat"></a>
    </div>
</body>
</html>
